[submodule "PCB/lib"]
	path = PCB/lib
	url = https://github.com/HandHeldLegend/HHL-KiCad-Lib
[submodule "FW/lib/hoja-lib-rp2040"]
	path = FW/lib/hoja-lib-rp2040
	url = https://github.com/HandHeldLegend/HOJA-LIB-RP2040
